In [1]:
df=pd.read_excel("E:\HTL Project\HTL (1).xlsx")
df.head()

,Feedstock,Type,Moisture,Volatile,Ash,Proteins,lipids,carbohydrates,C,H,...,O,S,Culture Condition,Catalyst,Temp,Time,Pressure,HHV,ERR,Yield%
0,Spirulina platensis,microalgae,11.8,67.0,8.6,53.0,7.5,11.0,72.7,8.8,...,11.5,0.6,open pond,Na2CO3,300,30,130,35.2,37.2,36.0
1,Nannochloropsis,microalgae,3.9,67.4,24.4,52.0,14.0,27.0,76.0,10.3,...,9.0,0.8,Flask,H-ZSM5,350,60,180,37.9,42.7,43.0
2,Chlorella vulgaris,microalgae,5.8,67.3,9.5,49.5,11.0,14.2,70.6,9.2,...,12.3,0.4,open pond,LiOH,250,60,100,33.8,33.0,33.0
3,Porphyridium purpureum,microalgae,8.5,61.6,18.5,45.6,12.1,NaN,69.1,8.4,...,15.2,0.5,PBR,NaN,250,30,100,34.8,41.5,24.7
4,Dunaliella tertiolecta,microalgae,4.9,54.4,13.5,34.0,23.0,21.0,72.0,8.8,...,9.9,0.3,NaN,Na2CO3,375,50,221,36.0,64.8,55.3

In [2]:
df.columns

Index(['Feedstock', 'Type', 'Moisture', 'Volatile', 'Ash', 'Proteins ',
       'lipids ', 'carbohydrates', 'C ', 'H', 'N', 'O', 'S',
       'Culture Condition', 'Catalyst', 'Temp', 'Time', 'Pressure', 'HHV',
       'ERR', 'Yield%'],
      dtype='object')

In [3]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [4]:
df['Feedstock']=le.fit_transform(df['Feedstock'])
df['Type']=le.fit_transform(df['Type'])
df['Culture Condition']=le.fit_transform(df['Culture Condition'])
df['Catalyst']=le.fit_transform(df['Catalyst'])

In [6]:
df.head()

,Feedstock,Type,Moisture,Volatile,Ash,Proteins,lipids,carbohydrates,C,H,...,O,S,Culture Condition,Catalyst,Temp,Time,Pressure,HHV,ERR,Yield%
0,21,1,11.8,67.0,8.6,53.0,7.5,11.0,72.7,8.8,...,11.5,0.6,3,14,300,30,130,35.2,37.2,36.0
1,10,1,3.9,67.4,24.4,52.0,14.0,27.0,76.0,10.3,...,9.0,0.8,0,7,350,60,180,37.9,42.7,43.0
2,3,1,5.8,67.3,9.5,49.5,11.0,14.2,70.6,9.2,...,12.3,0.4,3,11,250,60,100,33.8,33.0,33.0
3,12,1,8.5,61.6,18.5,45.6,12.1,NaN,69.1,8.4,...,15.2,0.5,1,22,250,30,100,34.8,41.5,24.7
4,7,1,4.9,54.4,13.5,34.0,23.0,21.0,72.0,8.8,...,9.9,0.3,4,14,375,50,221,36.0,64.8,55.3

In [15]:
reg=linear_model.LinearRegression()

In [16]:
df['Moisture']=df['Moisture'].fillna(df['Moisture'].mode()[0])
df['Volatile']=df['Volatile'].fillna(df['Volatile'].mode()[0])
df['carbohydrates']=df['carbohydrates'].fillna(df['carbohydrates'].mode()[0])
df['S']=df['S'].fillna(df['S'].mode()[0])
df['ERR']=df['ERR'].fillna(df['ERR'].mode()[0])
df['lipids ']=df['lipids '].fillna(df['lipids '].mode()[0])

In [17]:
df.isna().sum()

Feedstock            0
Type                 0
Moisture             0
Volatile             0
Ash                  0
Proteins             0
lipids               0
carbohydrates        0
C                    0
H                    0
N                    0
O                    0
S                    0
Culture Condition    0
Catalyst             0
Temp                 0
Time                 0
Pressure             0
HHV                  0
ERR                  0
Yield%               0
dtype: int64

In [64]:
x=df.drop('Yield%',axis=1)
y=df['Yield%']

In [65]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [66]:
reg.fit(x_train,y_train)

LinearRegression()

In [67]:
y_pred = reg.predict(x_test)
y_pred

array([24.63239951, 35.57846179, 46.88029276, 21.34356896, 33.65254682,
       37.79567517, 17.91617721, 54.74976226, 42.34192413, 31.41960598,
       62.63376713, 69.17974974, 24.86140662, 21.16553471, 46.2573172 ,
       24.96025074, 25.50394019, 31.78836412, 18.27528777, 19.70248903,
       -6.40076414, 38.46435152,  5.93534015, 35.62252575, 35.32923022,
       21.52464527,  9.84509208, 15.93325539, 46.75646578, 45.41508769])

In [68]:
from sklearn.metrics import r2_score

In [69]:
print("Mean absolute Error: " ,np.mean(np.absolute(y_pred-y_test)))
print("Root mean square error: " ,np.mean(y_pred-y_test)**2)
print("R2 square: " ,r2_score(y_pred,y_test))

Mean absolute Error:  7.780106152895835

Root mean square error:  0.0034564662701522036
R2 square:  0.37038460111597493